<footer class="footer">
  <small>
    <a href="#">***</a>
  
  </small>
  <nav>
    <ul>
      <li><%= link_to "***", '#' %></li>
      <li><%= link_to "***", '#' %></li>
      <li><%= link_to "***", '#' %></li>
    </ul>
  </nav>
</footer>